@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');


 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family:'Noto Sans'
}

.main-login {
    width: 100vw;
    height: 100vh;
    background-color: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parteesquerda {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imagem {
    width: 35vw;
}
.parteesquerda  h1 {
    color: #407BFF;
    font-size: 50px;
}
.partedireita {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color:#2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card h1 {
    color: #407BFF;
    font-weight: 800;
    margin: 0;
}

.inserircpf {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.inserircpf input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline:none;
    box-sizing: border-box;;
}


.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color:#2b134b;
    background-color: #407BFF;
    cursor:pointer;
    
}

@media only screen and (max-width: 950px) {
    .card{
        width: 85%;
    }

    .parteesquerda h1 {
        display:none;
        margin-left: 10px;
    }
}

@media only screen and (max-width: 600px){
    .main-login {
        flex-direction: column;
    }
    .parteesquerda h1 {
        display:none;
        margin-left: 10px;
    }
    .parteesquerda {
        width: 100%;
        height: auto;
    }
    .imagem {
        width: 50vw;
    }
}

.label{
    color: white;
    margin-bottom: 5px;
}

.resposta {
    color:white;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-self: center;

}

.teclado {
    display: grid;
    grid-template-columns: repeat(3, 60px);
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
  }

  .teclado button {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background-color: #eee;
    cursor: pointer;
    transition: background-color 0.2s;
  }

  .teclado button:hover {
    background-color: #ccc;
  }
